<div id="<%= dom_id copy %>">
  <p>
    <strong>Name:</strong>
    <%= copy.name %>
  </p>

  <p>
    <strong>Visible:</strong>
    <%= copy.visible %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= copy.position %>
  </p>

</div>
