<h1>Subjects#edit</h1>
<p>Find me in app/views/subjects/edit.html.erb</p>


<%= render 'partials/form', subject: @subject %>

<% if false %>
<%= link_to 'Show', @subject %> |
<%= link_to 'Back', subjects_path %>
<% end %>